.profile-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.left-panel {
    width: 20%;
}

.avatar {
    width: 100%;
    text-align: center;
}

.avatar img {
    max-width: 100%;
    border-radius: 50%;
}

.right-panel {
    width: 80%;
}

.tab-menu ul {
    list-style: none;
    padding: 0;
    display: flex;

    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.tab-menu li {
    cursor: pointer;
    padding: 10px 20px;
    border-bottom: 2px solid transparent;
    font-weight: bold;
    transition: border-color 0.3s;
    flex: 1;

}

.tab-menu li.active {
    border-color: #007bff;
}


.tab-content {
    padding: 20px;
}


.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.gender label {
    display: inline;
    margin-right: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="radio"] {
    margin-right: 10px;
}


.form-group input[type="radio"],
.form-group label {
    display: inline;
    margin-bottom: 0;
}


.form-group div {
    display: flex;
    align-items: center;
}


.info-content {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .preview-image {
    max-width: 100%;
    max-height: 200px;
  }
  