.search {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 100px;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: -40px;
    z-index: 10;
    border: 1px solid #006dde;
    
}

.search-content {
    margin: 10px 0;
    border-right: 1px solid gray;
    padding: 0 35px;
}

.search-item {
    display: flex;
    flex-direction: column;

}

.search-input {
    margin-left: 10px;
    outline: none;
    border: none;
}

.search-label {
    display: flex;
}


.react-datepicker-ignore-onclickoutside {
    font-size: 14px;
    padding: 5px px;
    width: 100px;
}


.react-datepicker-popper {
    font-size: 14px;
}