.service{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}
.service-item{
    margin: 0 60px;
}
.service-text{
    color: #212529;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 24px;
    font-weight: 700;
    font-size: 20px;
}
@media screen and (max-width:1200px) {
    .service{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width:600px) {
    .service{
        display: grid;
        grid-template-columns: 1fr;
    }
}