.dropdown {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
.detail-header {
    padding-top: 80px;
}
.detail-title {
    font-size: 24px;
    font-weight: 500;
    font-family: "Inter";
    margin: 50px 80px 0 80px;
}
.span-1 {
    padding-right: 20pxs;
}
.detail-content {
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    font-family: "Roboto";
    align-items: center;
}
.detail-ul {
    display: flex;
    gap: 5px;
}
.detail-ul-2 {
    display: flex;
    gap: 15px;
}
.detail-img {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
.detail-col {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
    padding: 35px 80px;
}
.detail-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.detail-h4 {
    font-size: 22px;
    font-weight: 500;
    color: black;
    font-family: "Inter";
}
.detail-p {
    color: #adadad;
    font-weight: 400;
    font-family: "Inter";
}
.detail-convenient {
    font-family: "Roboto";
    display: flex;
    align-items: center;
    padding: 30px 0;
}
.detail-convenient-i{
    font-size: 25px;
    padding: 0 30px;
    align-items: center;
    text-align: center;
}
.detail-convenient-p{
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 500;
}
.detail-convenient-span{
    font-size: 16px;
    font-weight: 400;
    color: #adadad;
}
.detail-transe{
    padding: 20px 0;
    align-items: center;
    display: flex;
    text-align: center;
    font-family: "Inter";
}
.detail-info{
    font-family:"Roboto";
    font-size: 18px;
    letter-spacing: 1.5;
    line-height: 24px;
    
}
.detail-about{
    padding: 30px 0;
}
.detail-about-title{
    font-family: "Inter";
    font-size: 24px;
    font-weight: 600;
}
.detail-about-span{
    font-size: 20px;
    font-family: "Inter";
    font-weight: 300;
}
.detail-about-col{
    display: flex;
    justify-content: space-between;
    
}
    
.detail-about-left {
    padding-right: 50px;
}
.detail-about-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 15px;
}
.detail-about-right{
    padding-right: 50px;
}
.detail-comment{
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding: 0 80px;
    gap: 30px;
}
.detail-comment-img{
    display: flex;
    align-items: center;
    font-family: "Inter";
    padding-bottom: 20px;
    
}
.detail-comment-img-text{
        padding-left: 15px;
        
       
}
.detail-cm{
    display: flex;
    padding: 50px 80px 20px;
    justify-content: space-between;
}
.detail-cm-buuton{
    padding-left:205px ;
}
.detail-cm-add{
    padding: 10px 15px;
    color: #eee;
    background: #2691d9;
    border: 1px solid;
}
.detail-cm-add:hover{
    border-color:#2691d9;
    transition: 0.5s;
    
}
.detail-right{
    border: 1px solid #adadad;
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.50);
    border-radius: 15px;
    max-height: 550px;
    position: relative;
    z-index:0;
    
}
.detail-right-price{
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    align-items: center;

}
.detail-label{
    font-size: 14px;
    font-family: "Roboto";
    text-align: center;
   
   
}
.detail-booking{
    border: 1px solid black;
    border-radius: 15px;
    margin: 0 40px;
    

}

.dropdown1{
    border-top: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    font-family: "Roboto";
   
    
    
    
}
// .detail-booking-col{
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     padding: 0 15px;
// }
.detail-select {
    border: 1px solid;
    border-radius: 15px 15px 15px 15px;
    
    position: absolute;
    top: 220px; 
    left: 40px; 
    display: block;
    background-color: #fff;
  }
  
.dropdown{
    border: none;
    outline: none;
    align-items: center;
    padding: 0 20px;
    font-family: "Inter";
    gap: 70px;
    z-index: 2;
   
}
.detail-dropdown{
    padding: 10px 0;
    
}
.detail-dropdown-button{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: #adadad 1px solid;
    font-size: 20px;
    
}
.detail-pay{
    width: 100%;
    padding: 15px 0;
    border-radius: 15px;
    color: white;
    background: linear-gradient(to right,#E61E4D 0%,#E31C5F 50%,#D70466 100%);
    border: 1px solid ;
    font-weight: 600;
    font-size: 18px;
}
.detail-pay:hover{
    border-color: #D70466;
    transition: 0.5s;
}
.detail-cacl{
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 300;
    

}
.detail-total{
    padding: 010px 40px;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}
.detail-under{
    position: relative;
    z-index: 0;
}