.inf-home {
    display: inline !important;
    height: 50px;
}

.button-Prev{
    border:1px;
    cursor: pointer;
    position: absolute;
    top:350px;
    left:18px;
    background-color: transparent;
    z-index: 2;
}
.button-Next{
    border: 1px;
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    top: 350px;
    right:10px;
    z-index: 2;
}
@media screen and (max-width:768px) {
    .button-Prev{
        top:620px;
    }
    .button-Next{
        top:620px
    }
}